*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    margin-left: 10px;
    margin-top: -40px;
}

// Cores
$cor-um: #FFFFFF;
$cor_dois: #F1F1F1;
$cor-tres: #C0C0C0;
$cor-quatro: #1F177E;